{% extends "base.html" %} 
{% block body %}
  <div class="page-header">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1>Qwery To-Do List</h1>
      </div>
    </div>
  </div>

  <!-- Display flash messages-->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-dismissible alert-{{ category }}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
             <strong>{{ message }}</strong>  
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Task</th>
      <th>Actions</th>
    </tr>
    
  </thead>
  <tbody>
    {% for todo in todos %}
    <tr>
      <td>{{todo.title}}</td>
            <td>
        <a href="{{url_for('home', id=id)}}" class="btn btn-primary btn-xs" role="button"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
        {% if not todo.status %}
 <a href="{{url_for('home', id=id)}}" class="btn btn-success btn-xs" role="button"><span class="glyphicon glyphicon-check"></span> Mark as Done</a>
        {% endif %}
       
      </td>
    </tr>
    {% endfor %}
    
  </tbody>
</table> 

  <!--{% if pagination %}
    <ul class="pager">
      <li class="disabled"><a href="#">&larr; Previous</a></li>
      <li class="disabled"><a href="#">Next &rarr;</a></li>
    </ul>
  {% endif %}-->
{% endblock %}
